# this is an example for the global yass configuration file $HOME/.yass/config

# UPDATE_MODE, one of [force ask never]
# default: force
UPDATE_MODE="ask"

# MD5, the 'remote' location of the 'md5' file
# default: https://raw.githubusercontent.com/aogburn/yass/main/md5
# MD5="file:///home/user/work/git/yass/md5"

# REMOTE_YASS_SH, the remote location for the yala.sh represented by the MD5
# default: https://raw.githubusercontent.com/aogburn/yass/main/yass.sh
# REMOTE_YASS_SH="file:///home/user/work/git/yass/yass.sh"

# PARALLEL_LIMIT, the number of garbagecat processes to fork in parallel
# default: 10
# PARALLEL_LIMIT=#

# GARBAGECAT_OPTS, the option flags to pass on to garbage cat commands
# default: -p -t 40
# GARBAGECAT_OPTS="-p -t #"

# YALA_SH, the location of the yala script to use for server log analysis
# default: none - no server log analysis performed without it
YALA_SH=/path/to/yala.sh

# YATDA_SH, the location of the yatda script to use for thread dump analysis
# default: none - no thread dump analysis performed without it
YATDA_SH=/path/to/yatda.sh

# GARBAGECAT, the location of the garbagecat jar to use for GC log analysis
# default: none - no GC log analysis performed without it
GARBAGECAT=/path/to/garbagecat.jar
