# this is an example for the global yass configuration file $HOME/.yass/config

# UPDATE_MODE, one of [force ask never]
# default: force
UPDATE_MODE="ask"

# CASE_DIR, the directory for casegrab to store files
# default: $HOME/support
# CASE_DIR="/desired/path"

# CASEGRAB_SIZE_LIMIT, casegrab will not download files above this size in bytes
# default: 21474836480
# CASEGRAB_SIZE_LIMIT="#ofBytes"

# MD5, the 'remote' location of the 'md5' file
# default: https://raw.githubusercontent.com/aogburn/yass/main/md5
# MD5="file:///home/user/work/git/yass/md5"

# REMOTE_YASS_SH, the remote location for the yala.sh represented by the MD5
# default: https://raw.githubusercontent.com/aogburn/yass/main/yass.sh
# REMOTE_YASS_SH="file:///home/user/work/git/yass/yass.sh"

# PARALLEL_LIMIT, the max number of garbagecat processes to fork in parallel
# default: 10
# PARALLEL_LIMIT=#

# ACCESS_LOG_LIMIT, the max number of unique minute timestamps to allow for processing in an access log
# default: 7200 - this equates to five days worth of logging (60 * 24 * 5)
# ACCESS_LOG_LIMIT=#

# GARBAGECAT_OPTS, the option flags to pass on to garbage cat commands
# default: -p -t 40
# GARBAGECAT_OPTS="-p -t #"

# JAVA_HOME, the location of the JDK to use for garbagecat
# default: none, system default java command will be used
# JAVA_HOME=/path/to/jdk

# JAVA_OPTS, JVM options (such as heap) to use for the garbagecat command
# default: none, JDK supplies defaults
# JAVA_OPTS="-Xmx2g"

# YALA_SH, the location of the yala script to use for server log analysis
# default: none - no server log analysis performed without it
YALA_SH=/path/to/yala.sh

# YATDA_SH, the location of the yatda script to use for thread dump analysis
# default: none - no thread dump analysis performed without it
YATDA_SH=/path/to/yatda.sh

# GARBAGECAT, the location of the garbagecat jar to use for GC log analysis
# default: none - no GC log analysis performed without it
GARBAGECAT=/path/to/garbagecat.jar

# MAT, the location of the Eclipse Memory Analyzer Tool executable to use for largest found heap
# default: none - no heap dump analysis will be launched without it
MAT=/path/to/eclipse/mat/MemoryAnalyzer

# KRASHPAD_CMD, the command to execute to run krashpad on any hs_err_pid files
# default: docker run --pull=always -v "$PWD":$TARGET_DIR:z ghcr.io/mgm3746/krashpad:main -c $file > $file.pad - parenthesis not included in the variable but inherently passed in the script
# Set this to a java command as below if wanting to run a local jar
# KRASHPAD_CMD="java -jar /path/to/krashpad.jar"
